# --- IntelliJ IDEA (Arkadaşınla ayarların çakışmasın) ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Maven (Derleme dosyaları) ---
target/

# --- Mac OS (Gereksiz sistem dosyaları) ---
.DS_Store
.AppleDouble
.LSOverride

# --- Windows (Gereksiz resim önizleme dosyaları) ---
Thumbs.db
ehthumbs.db

# --- Java (Derlenmiş sınıflar ve loglar) ---
*.class
*.log
*.jar
*.war
*.zip